.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: red;
}

.logo {
  height: 80px;
}

.links a {
  color: black;
  margin: 25px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}
